OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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
N8N_WEBHOOK_URL=https://izehiuwa.app.n8n.cloud/webhook/659c132e-00ed-4a0c-887f-9f921587d957
DATABASE_URL=postgresql://neondb_owner:npg_nJjz2cOCo8KF@ep-hidden-cloud-ajrr0vdr.c-3.us-east-2.aws.neon.tech/neondb?sslmode=require